<form #f="ngForm" (ngSubmit)="onSubmit(f.value); f.reset();" fxLayout="column">
    <!-- 1st row -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="80">
            <mat-select placeholder="Type" required ngModel name="type" #selectedType>
                <mat-option *ngFor="let type of types" [value]="type">{{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="40" fxFlex.lt-sm="80">
            <mat-select placeholder="Category" required ngModel name="category">
                <mat-option *ngFor="let category of getCategories(selectedType.value)" [value]="category">
                    {{category}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- 2nd row -->
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <mat-form-field fxFlex="40" fxFlex.lt-sm="80">
            <input matInput placeholder="Title" ngModel name="title" required minlength="3">
        </mat-form-field>
        <mat-form-field fxFlex="40" fxFlex.lt-sm="80">
            <input matInput placeholder="Price" required ngModel name="price">
            <span matPrefix>$&nbsp;</span>
        </mat-form-field>
        <!-- 3rd row -->
        <mat-form-field fxFlex="80">
            <input matInput placeholder="Image Url" required ngModel name="imageUrl">
        </mat-form-field>
    </div>
    <!-- 4rd row -->
      <p>{{ f.value | json }}</p>
    <button fxFlexAlign="center" mat-raised-button color="primary" [disabled]="f.invalid || isSubmitted">Save</button>
</form>