$selectTopButtonColor: rgb(241, 241, 241);

form{
    margin-top: 10%;
    padding: 0 30px;

    .addWarning{
        color: #283593;
    }
    .btnSave{
        margin-top: 5%;
        width: 30%;
    }
}

.newItemAdded{
    background-color: #FCE4EC;
    color: #283593;
    padding: 1em;
}

#typeAndCategory{
    .newTypeCategoryInput{
        margin: 1em 0;
    }
}
.newItemButton{
    background-color: $selectTopButtonColor;
}