<form [formGroup]="form" (ngSubmit)="onSubmit(form.value); form.reset();" fxLayout="row" fxLayoutAlign="center">
    <!-- TYPE & CATEGORY-->
    <div fxLayout="column" fxFlex="80" fxFlex.gt-xs="40">
        <ng-container id="typeAndCategory">
            <!-- WARNINGS: NEW TYPE/CATEGORY -->
            <div *ngIf="(AddedType || AddedCategory)">
                <!-- New Type -->
                <p *ngIf="AddedType.value" class="newItemAdded">
                    {{AddedType.value | titlecase}} added to the Type list.
                </p>
                <!-- New Category -->
                <p *ngIf="AddedCategory.value" class="newItemAdded">
                    {{AddedCategory.value | titlecase}} added to the {{Type.value | titlecase}}'s category.
                </p>
            </div>

            <!-- TYPE -->
            <ng-container id="type">
                <mat-form-field *ngIf="Type.value !== 'newType'">
                    <mat-select formControlName="type" [required]="true" placeholder="Type">
                        <!-- newType option -->
                        <mat-option value="newType">
                            <mat-icon>add_circle_outline</mat-icon>
                            New Type
                        </mat-option>

                        <!-- PRINT TYPES -->
                        <mat-option *ngFor="let item of types" [value]="item" (click)="getCategories(item)">
                            {{item | titlecase}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Type.hasError('required')">Please select a Type or create one.</mat-error>
                </mat-form-field>
                <!-- input -->
                <mat-form-field *ngIf="Type.value === 'newType'" fxLayout="column" fxLayoutAlign="start stretch">
                    <input formControlName="newType" [required]="true" matInput placeholder="New Type"
                        (keyup.enter)="addType(NewType)" fxFlex="100" />
                    <button type="button" mat-mini-fab class="btnNewType" (click)="addType(NewType)"
                        [disabled]="NewType.invalid">Add
                    </button>
                    <mat-error *ngIf="NewType.hasError('required')">
                        Enter a value Or select a predefined Type.
                    </mat-error>
                    <mat-error *ngIf="NewType.hasError('uniqueType')">
                        Type {{NewType.value | titlecase}} already exists.
                    </mat-error>
                </mat-form-field>
            </ng-container>

            <!-- CATEGORY -->
            <ng-container id="category" *ngIf="Type.value !== 'newType'">
                <mat-form-field *ngIf="Category.value !== 'newCategory'">
                    <mat-select formControlName="category" [required]="true" placeholder="Category"
                        (click)="Category.markAsTouched();" [errorStateMatcher]="clickErrorMatcher">
                        <!-- NewCategory option -->
                        <mat-option value="newCategory" *ngIf="Type.valid">
                            <mat-icon>add_circle_outline</mat-icon>
                            New Category
                        </mat-option>

                        <!-- PRINT CATEGORIES -->
                        <ng-container *ngFor="let item of categories;">
                            <mat-option [value]="item">
                                {{item | uppercase}}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                    <mat-error *ngIf="Category.hasError('required') && Type.valid">
                        Please select a Category or create one.
                    </mat-error>
                    <mat-error *ngIf="form.hasError('noPrerequisiteSelected')">Select a Type first.
                    </mat-error>
                </mat-form-field>

                <!-- NewCategory input -->
                <mat-form-field formGroupName="newCategoryGroup" *ngIf="Category.value === 'newCategory'"
                    fxLayout="column" fxLayoutAlign="start stretch">
                    <input formControlName="newCategory" [required]="true" (keyup)="NewCategory.value"
                        (keyup.enter)="addCategory(NewCategory, Type.value)" matInput placeholder="New Category"
                        class="categoryInput" fxFlex="100" />
                    <button type="button" mat-mini-fab class="btnNewType" (click)="addCategory(NewCategory, Type.value)"
                        [disabled]="NewCategoryGroup.invalid">
                        Add
                    </button>
                    <mat-error *ngIf="NewCategory.hasError('required')">
                        Enter a value Or select a predefined Category.
                    </mat-error>
                    <mat-error *ngIf="NewCategoryGroup.hasError('notUniqueCategory')">
                        {{NewCategory.value | uppercase}} already exists in Type {{Type.value | titlecase}}.
                    </mat-error>
                </mat-form-field>
                <p *ngIf="NewCategoryGroup.hasError('notUniqueCategory')" class="categoryAlert">
                    {{NewCategory.value | uppercase}} already exists in Type {{Type.value | titlecase}}.
                </p>
            </ng-container>
        </ng-container>







        <ng-container id="titlePriceImage">
            <!-- TITLE -->
            <mat-form-field>
                <input formControlName="title" [required]="true" matInput placeholder="Title">
                <mat-error *ngIf="Title.hasError('required')">Title field is required.</mat-error>
            </mat-form-field>
            <!-- PRICE -->
            <mat-form-field>
                <input formControlName="price" [required]="true" matInput placeholder="Price">
                <span matPrefix>$&nbsp;</span>
                <mat-error *ngIf="Price.hasError('required')">Price field is required.</mat-error>
            </mat-form-field>
            <!-- 3rd row -->
            <!-- IMAGEURL -->
            <mat-form-field fxFlex="80">
                <input formControlName="imageUrl" [required]="true" matInput placeholder="Image URL">
                <mat-error *ngIf="ImageUrl.hasError('required')">Image URL field is required.</mat-error>
            </mat-form-field>
        </ng-container>
        <p>{{ form.value | json }}</p>
        <button id="submit" mat-raised-button color="primary" [disabled]="form.invalid || Category.pristine"
            fxFlexAlign="center" class="btnSave">Save
        </button>
    </div>
</form>